.about{
    @include flexCenter(column);

    &__name{
        color: $lightGreyColor;
        font-family: $roboto;
        font-size: 36px;
        font-weight: 400;
        margin-top: $marginTop;
    }

    &__separator{
        border: none;
        border-top: 2px solid $goldColor;
        margin-top: $marginTop;
        width: 40%; 
    }

    &__separator--dashed{
        border-top: 4px dashed $goldColor;
        width: 10%;
    }

    &__position{
        color: $lightGreyColor;
        font-family: $raleway;
        font-size: 24px;
        font-weight: 400;
        margin-top: $marginTop;
    }

    &__social{
        color: $greyColor;
        margin-top: $marginTop;
    }

    &__description{
        color: $darkGreyColor;
        font-family: $raleway;
        font-size: 14px;
        font-weight: 500;
        margin-top: $marginTop;
        width: 80%;
    }

    &__button{
        border-color: $goldColor;
        color: $lightGreyColor;
        background-color: white;
        font-family: $openSans;
        margin-top: $marginTop;
        padding: 1% 5%;
    }
}

@media (min-width: 1024px){
    .about{
        width: 55%;
        border-left: 2px solid $goldColor;
        padding: $marginTop;
    }
}