@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto:wght@900&display=swap');

$goldColor: #ffcc00;
$lightGreyColor: #666666;
$darkGreyColor: #333333;
$greyColor: #cccccc;
$headGreyColor: #898f8f;

$openSans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

$marginTop: 5%;