@import './variables';
@import './mixins';
@import './normalize';
@import './header';
@import './photo';
@import './about';
@import './more';

.page{
    @include flexCenter(column);
}

.team{
    @include flexCenter(row);
    margin-top: $marginTop;

    &__previous, &__next{
        &.fas{
            color: $goldColor;
            font-size: 40px;
            margin: auto $marginTop;
            display: none;
        }
    }

    &__member{
        @include flexCenter(column);
        width: 90%;
    }
}

@media (min-width: 1024px){
    .team{
        margin-top: $marginTopDesktop;
    
        &__previous, &__next{
            &.fas{
                display: flex;
            }
        }
    
        &__member{
            @include flexCenter(row);
            width: 80%;
        }
    }
}