@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.header__description {
  color: #898f8f;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5%;
  width: 80%;
}

.header__text {
  color: #ffcc00;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 400;
  margin-top: 5%;
}

.header__separation {
  color: #ffcc00;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5%;
  position: relative;
  width: 80%;
}

.header__separation::before, .header__separation::after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background: #ffcc00;
  position: absolute;
  top: 50%;
}

.header__separation::before {
  left: 0;
}

.header__separation::after {
  right: 0;
}

@media (min-width: 1024px) {
  .header__description {
    margin-top: 5%;
  }
  .header__text {
    margin-top: 2%;
  }
  .header__separation {
    margin-top: 2%;
  }
  .header__separation::before, .header__separation::after {
    width: 45%;
  }
}

.photo {
  padding: 2%;
  background: linear-gradient(to right, #ffcc00, 2px, transparent 2px) 0 0, linear-gradient(to right, #ffcc00 2px, transparent 2px) 0 100%, linear-gradient(to left, #ffcc00 2px, transparent 2px) 100% 0, linear-gradient(to left, #ffcc00 2px, transparent 2px) 100% 100%, linear-gradient(to bottom, #ffcc00 2px, transparent 2px) 0 0, linear-gradient(to bottom, #ffcc00 2px, transparent 2px) 100% 0, linear-gradient(to top, #ffcc00 2px, transparent 2px) 0 100%, linear-gradient(to top, #ffcc00 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 25% 25%;
}

.photo__img {
  width: 100%;
  border: 2px solid #ffcc00;
}

@media (min-width: 1024px) {
  .photo {
    width: 45%;
    margin: 5%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__name {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-top: 5%;
}

.about__separator {
  border: none;
  border-top: 2px solid #ffcc00;
  margin-top: 5%;
  width: 40%;
}

.about__separator--dashed {
  border-top: 4px dashed #ffcc00;
  width: 10%;
}

.about__position {
  color: #666666;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 5%;
}

.about__social {
  color: #cccccc;
  margin-top: 5%;
}

.about__description {
  color: #333333;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5%;
  width: 80%;
}

.about__button {
  border-color: #ffcc00;
  color: #666666;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 5%;
  padding: 1% 5%;
}

@media (min-width: 1024px) {
  .about {
    width: 55%;
    border-left: 2px solid #ffcc00;
    padding: 5%;
  }
}

.more {
  margin: 5% auto;
  color: #ffcc00;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5%;
}

.team__previous.fas, .team__next.fas {
  color: #ffcc00;
  font-size: 40px;
  margin: auto 5%;
  display: none;
}

.team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

@media (min-width: 1024px) {
  .team {
    margin-top: 2%;
  }
  .team__previous.fas, .team__next.fas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team__member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */