@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

$colorBg: #9789f9;
$colorBgGrey: #f5f4f9;
$colorPink: #fd8d7b;
$colorBlue: #6fcffb;
$colorWhite: #ffffff;
$colorBlack: #181818;
$colorGrey: #a9a9a9;

$bebas: "Bebas Neue", cursive;
$roboto: "Roboto", sans-serif;

$padding: 5%;
