@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.container-fluid {
  font-family: "Lato", sans-serif;
}

.main-page {
  background-image: url("../img/hero-bg.jpg.png");
  background-size: cover;
  height: 100vh;
}

.page-block {
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  border-bottom: 2px solid #3c3c3c;
}

.page--services {
  background-image: url("../img/services.jpg.png");
  background-size: cover;
}

.header {
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header:before,
.header:after {
  content: "";
  border-top: 2px solid #3c3c3c;
  flex: 1 0 20px;
}

.page-block--white {
  border-color: white;
}

.header--white:before,
.header--white:after {
  border-top: 2px solid white;
}

.header::before {
  margin-right: 5%;
}

.header::after {
  margin-left: 5%;
}

.footer-icon {
  width: 50px;
}

.link {
  height: 9em;
}

.link--works1 {
  background-image: url("../img/works1.png");
  background-size: cover;
}

.link--works2 {
  background-image: url("../img/works2.png");
  background-size: cover;
}

.link--works3 {
  background-image: url("../img/works3.png");
  background-size: cover;
}

.link--works4 {
  background-image: url("../img/works4.png");
  background-size: cover;
}

.link--works5 {
  background-image: url("../img/works5.png");
  background-size: cover;
}

.link--works6 {
  background-image: url("../img/works6.png");
  background-size: cover;
}
