.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 5%;
}

.article {
  width: 370px;
  height: 310px;
  text-align: left;
  padding: 30px;
  margin: 0 1%;
  position: relative;
}

.article:hover {
  -webkit-box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px white;
}

.article--first {
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img1.png");
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img1.png");
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(20%, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/blog-img1.png");
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img1.png");
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/blog-img1.png");
  background-size: cover;
}

.article--second {
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img2.png");
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img2.png");
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(20%, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/blog-img2.png");
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img2.png");
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/blog-img2.png");
  background-size: cover;
}

.article--third {
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img3.png");
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img3.png");
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(20%, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/blog-img3.png");
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)),
    url("../img/blog-img3.png");
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/blog-img3.png");
  background-size: cover;
}

.article__date {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: rgba(38, 38, 38, 0.5);
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
}

.article__month {
  font-size: 19px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.article__header {
  position: absolute;
  bottom: 15%;
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.article__posted-by {
  position: absolute;
  bottom: 5%;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
}
