* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

.header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.nav-container {
  width: 50%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.logo {
  color: #262626;
  font-family: "Pacifico", cursive;
  font-size: 50px;
  font-weight: 400;
  text-align: right;
}

.logo-mobile {
  display: none;
}

.nav__link {
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  border-top: 3px solid #ff6033;
  padding-top: 1px;
}

@media screen and (max-width: 1023px) {
  .nav-container {
    width: 65%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
  }

  .nav__link {
    line-height: 2em;
    margin-left: 1em;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
  }

  #nav-container {
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }

  .logo-main {
    display: none;
  }

  .logo-mobile {
    display: block;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s;
    background: rgba(255, 255, 255, 0.699);
  }

  #nav-container:focus-within .bg {
    visibility: visible;
    opacity: 0.6;
  }

  #nav-container * {
    visibility: visible;
  }

  .button {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: transparent;
    height: 100px;
    width: 180px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
  }

  #nav-container:focus-within .button {
    pointer-events: none;
  }

  #nav-content {
    margin-top: 100px;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    height: calc(100% - 100px);
    background: white;
    pointer-events: auto;
    transform: translateX(-100%);
    transition: transform 0.3s;
    will-change: transform;
    contain: paint;
  }

  #nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  #nav-content li a {
    transition: color 0.1s;
    font-weight: 900;
    font-size: 2em;
  }

  #nav-container:focus-within #nav-content {
    transform: none;
  }
}
